/* react table */
.ReactTable{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;border:1px solid rgba(0,0,0,0.1);}.ReactTable *{box-sizing:border-box}.ReactTable .rt-table{-webkit-box-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;width:100%;border-collapse:collapse;overflow:auto}.ReactTable .rt-thead{-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}.ReactTable .rt-thead.-headerGroups{background:rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.05)}.ReactTable .rt-thead.-filters{border-bottom:1px solid rgba(0,0,0,0.05);}.ReactTable .rt-thead.-filters .rt-th{border-right:1px solid rgba(0,0,0,0.02)}.ReactTable .rt-thead.-header{box-shadow:0 2px 15px 0 rgba(0,0,0,0.15)}.ReactTable .rt-thead .rt-tr{text-align:center}.ReactTable .rt-thead .rt-th,.ReactTable .rt-thead .rt-td{padding:5px 5px;line-height:normal;position:relative;border-right:1px solid rgba(0,0,0,0.05);-webkit-transition:box-shadow .3s cubic-bezier(.175,.885,.32,1.275);transition:box-shadow .3s cubic-bezier(.175,.885,.32,1.275);box-shadow:inset 0 0 0 0 transparent;}.ReactTable .rt-thead .rt-th.-sort-asc,.ReactTable .rt-thead .rt-td.-sort-asc{box-shadow:inset 0 3px 0 0 rgba(0,0,0,0.6)}.ReactTable .rt-thead .rt-th.-sort-desc,.ReactTable .rt-thead .rt-td.-sort-desc{box-shadow:inset 0 -3px 0 0 rgba(0,0,0,0.6)}.ReactTable .rt-thead .rt-th.-cursor-pointer,.ReactTable .rt-thead .rt-td.-cursor-pointer{cursor:pointer}.ReactTable .rt-thead .rt-th:last-child,.ReactTable .rt-thead .rt-td:last-child{border-right:0}.ReactTable .rt-thead .rt-resizable-header{overflow:visible;}.ReactTable .rt-thead .rt-resizable-header:last-child{overflow:hidden}.ReactTable .rt-thead .rt-resizable-header-content{overflow:hidden;text-overflow:ellipsis}.ReactTable .rt-thead .rt-header-pivot{border-right-color:#f7f7f7}.ReactTable .rt-thead .rt-header-pivot:after,.ReactTable .rt-thead .rt-header-pivot:before{left:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}.ReactTable .rt-thead .rt-header-pivot:after{border-color:rgba(255,255,255,0);border-left-color:#fff;border-width:8px;margin-top:-8px}.ReactTable .rt-thead .rt-header-pivot:before{border-color:rgba(102,102,102,0);border-left-color:#f7f7f7;border-width:10px;margin-top:-10px}.ReactTable .rt-tbody{-webkit-box-flex:99999;-ms-flex:99999 1 auto;flex:99999 1 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;overflow:auto;}.ReactTable .rt-tbody .rt-tr-group{border-bottom:solid 1px rgba(0,0,0,0.05);}.ReactTable .rt-tbody .rt-tr-group:last-child{border-bottom:0}.ReactTable .rt-tbody .rt-td{border-right:1px solid rgba(0,0,0,0.02);}.ReactTable .rt-tbody .rt-td:last-child{border-right:0}.ReactTable .rt-tbody .rt-expandable{cursor:pointer}.ReactTable .rt-tr-group{-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}.ReactTable .rt-tr{-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex}.ReactTable .rt-th,.ReactTable .rt-td{-webkit-box-flex:1;-ms-flex:1 0 0px;flex:1 0 0;white-space:nowrap;text-overflow:ellipsis;padding:7px 5px;overflow:hidden;-webkit-transition:.3s ease;transition:.3s ease;-webkit-transition-property:width,min-width,padding,opacity;transition-property:width,min-width,padding,opacity;}.ReactTable .rt-th.-hidden,.ReactTable .rt-td.-hidden{width:0 !important;min-width:0 !important;padding:0 !important;border:0 !important;opacity:0 !important}.ReactTable .rt-expander{display:inline-block;position:relative;margin:0;color:transparent;margin:0 10px;}.ReactTable .rt-expander:after{content:'';position:absolute;width:0;height:0;top:50%;left:50%;-webkit-transform:translate(-50%,-50%) rotate(-90deg);transform:translate(-50%,-50%) rotate(-90deg);border-left:5.04px solid transparent;border-right:5.04px solid transparent;border-top:7px solid rgba(0,0,0,0.8);-webkit-transition:all .3s cubic-bezier(.175,.885,.32,1.275);transition:all .3s cubic-bezier(.175,.885,.32,1.275);cursor:pointer}.ReactTable .rt-expander.-open:after{-webkit-transform:translate(-50%,-50%) rotate(0);transform:translate(-50%,-50%) rotate(0)}.ReactTable .rt-resizer{display:inline-block;position:absolute;width:36px;top:0;bottom:0;right:-18px;cursor:col-resize;z-index:10}.ReactTable .rt-tfoot{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;box-shadow:0 0 15px 0 rgba(0,0,0,0.15);}.ReactTable .rt-tfoot .rt-td{border-right:1px solid rgba(0,0,0,0.05);}.ReactTable .rt-tfoot .rt-td:last-child{border-right:0}.ReactTable.-striped .rt-tr.-odd{background:rgba(0,0,0,0.03)}.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover{background:rgba(0,0,0,0.05)}.ReactTable .-pagination{z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:3px;box-shadow:0 0 15px 0 rgba(0,0,0,0.1);border-top:2px solid rgba(0,0,0,0.1);}.ReactTable .-pagination .-btn{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:block;width:100%;height:100%;border:0;border-radius:3px;padding:6px;font-size:1em;color:rgba(0,0,0,0.6);background:rgba(0,0,0,0.1);-webkit-transition:all .1s ease;transition:all .1s ease;cursor:pointer;outline:none;}.ReactTable .-pagination .-btn[disabled]{opacity:.5;cursor:default}.ReactTable .-pagination .-btn:not([disabled]):hover{background:rgba(0,0,0,0.3);color:#fff}.ReactTable .-pagination .-previous,.ReactTable .-pagination .-next{-webkit-box-flex:1;-ms-flex:1;flex:1;text-align:center}.ReactTable .-pagination .-center{-webkit-box-flex:1.5;-ms-flex:1.5;flex:1.5;text-align:center;margin-bottom:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content:space-around}.ReactTable .-pagination .-pageInfo{display:inline-block;margin:3px 10px;white-space:nowrap}.ReactTable .-pagination .-pageJump{display:inline-block;}.ReactTable .-pagination .-pageJump input{width:70px;text-align:center}.ReactTable .-pagination .-pageSizeOptions{margin:3px 10px}.ReactTable .rt-noData{display:block;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:rgba(255,255,255,0.8);-webkit-transition:all .3s ease;transition:all .3s ease;z-index:1;pointer-events:none;padding:20px;color:rgba(0,0,0,0.5)}.ReactTable .-loading{display:block;position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(255,255,255,0.8);-webkit-transition:all .3s ease;transition:all .3s ease;z-index:-1;opacity:0;pointer-events:none;}.ReactTable .-loading > div{position:absolute;display:block;text-align:center;width:100%;top:50%;left:0;font-size:15px;color:rgba(0,0,0,0.6);-webkit-transform:translateY(-52%);transform:translateY(-52%);-webkit-transition:all .3s cubic-bezier(.25,.46,.45,.94);transition:all .3s cubic-bezier(.25,.46,.45,.94)}.ReactTable .-loading.-active{opacity:1;z-index:2;pointer-events:all;}.ReactTable .-loading.-active > div{-webkit-transform:translateY(50%);transform:translateY(50%)}.ReactTable input,.ReactTable select{border:1px solid rgba(0,0,0,0.1);background:#fff;padding:5px 7px;font-size:inherit;border-radius:3px;font-weight:normal;outline:none}.ReactTable .rt-resizing .rt-th,.ReactTable .rt-resizing .rt-td{-webkit-transition:none !important;transition:none !important;cursor:col-resize;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.loader {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    background: #EEE;
    background-image:url(loadingDots.gif); 
    background-repeat: no-repeat;
    background-position: 50%; 
    opacity: 1;
    z-index: 9999999;
}

body {
    overflow: hidden;
    border: 1px solid #ddd;
    line-height: 0;
    padding-right: 0px !important;
}
.actionItems .glyphicon {
    padding-top: 3px;
}
.toastify {
    z-index: 999999999999999999 !important;
}
.toastify__body {
    word-break: break-word;

}
.toastify__body p{
    font-family: sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.input-text {
    width: 96%;
}
.sub-component .-header {
    display: none !important;
}
.sub-component .rt-tbody .rt-td {
    border-right: 0px !important;
    background: #F2F2F2 !important;
}
.sub-component .rt-tbody .rt-tr-group {
    border-bottom: 0px !important;
}
.upper-case {text-transform: uppercase;}
.disabled-link {
  pointer-events: none;
  cursor: pointer;
  opacity: .7;
  color: gray;
}
.edit-icon {
    display: inline;
}
 /*.rt-tr:hover .inline-edit{
     display : inline;
 }
  /*.rt-tr:hover .edit-icon{
     display : block;
 }*/
 
.table-edit-quantity, .table-edit {
    cursor:pointer;
    width:70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.inline-select-edit {
     height:22px;
    width: 50px !important;
    padding-right: 60px !important;
}
.inline-select {
    display:inline-block;
    padding-left:5px!important;
    cursor: pointer;
    padding-left:5px !important;
    padding-right:60px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	
}
.table-edit-input .inline-edit {
    display:none !important;
}

.invalid {
    border: 1px solid orangered !important;
}
.table-edit-input{
    height:22px;
    width: 72%;
    display:inline-block;
}
  
#inner-tab-example > ul{
    background: #EDEDED;
    border-radius: 6px;
}
.nav-tabs {
    border: 2px solid #ddd;
    border-radius: 6px;
}
#inner-tab-example .nav-tabs > li.active > a {
    color: #0070d2 !important;
}
#inner-tab-example > ul > li > a:hover {
    color: #aaa !important;
}
#inner-tab-example > ul > li{
    border-right: 2px solid white;
    border-radius: 6px;
}
#noanim-tab-example > ul > li:hover {
    background: #EDEDED;
    border-radius: 6px;
}
#noanim-tab-example > .nav > li.active {
    background: #aaa;
    border-radius: 6px;
}
#noanim-tab-example > .nav  > li {
    background:#EDEDED;
    width:50%;
    border-radius: 6px;
}
.link {
  cursor: pointer;
}
.inline-edit{ 
   /*display: none;*/
   color: #54698d;
 }
.show-grid {
    background-color: white;
    border-bottom: 1px solid #d0d0d0;
}
.group-side {
    width: 16px;
    position: absolute;
    height: 100%;
    cursor: pointer;
    background-color: #8199AF;
    color: #FFF;
    padding: 0 22px 0 2px;
    font-size: 20px;
}
.group-side .center {
    position: relative;
    top: 35%;
}
.group-side .panel-text {
    transform: rotate(90deg);
    text-align: center;
    width: 20px;
}
.group-edit,.group-description,.group-input {
    cursor: pointer;
}
 .group-edit:hover +.inline-edit{
     display : inline !important;
     
 }
.group-input:hover +.inline-edit{
     display : inline !important;    
 }
.group-description:hover +.inline-edit{
     display : inline !important;
 }
.group-edit-on{
    background-color: white;
    color: #54698d;
    font-size: 14px;
    height:25px;
    width: 200px
 }
.group-desc-edit-on{
    background-color: white;
    color: #54698d;
    font-size: 14px;
 }
.group {
    margin: 0!important;     
    border-color: #d0d0d0;    
    border-radius: 4px;    
    height: 100%;    
    width: 100%!important;    
    background-color: white;    
    display: block;    
    position: relative!important;    
    overflow-x: hidden!important;
}
.group .dropdown {
    margin: 10px 0 0 0;
    float: left;
}
.group-card {
    border-bottom: 2px solid #d0d0d0;
    margin-bottom: 10px;
}
.group-input {
    margin-right: 20px;
    color: #54698d;
    font-size: 14px;
    line-height: 1.5;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.input-group{
    background: white;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #CCCCCC;
    text-align: right;
}
.vertically {
    border-left: 2px solid #ccc;
    display: inline-block;
    height: 100px;
    margin: 10px;
    position: absolute;
    font-size: 4px;
}
.group-header{
    color: #54698d;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 10px;
    font-weight: 600;
}
.group-header-div {    
    padding-left: 55px;
    padding-top: 5px;
}
.group-total{
    margin: 10px 55px 15px;
    color: #54698d;
    font-size: 16px;
    line-height: 1.5;
}
.group-label{
    color: #54698d;
    font-size: 14px;
    padding:5px;
    line-height: 2.5;
}
.desc {
    font-size: 14px;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    vertical-align: top;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff !important;
}
.group-description {
    color: #54698d;
    font-size: 14px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cartIcon {
    background: #904d4c;
    color: white;
    padding: 20px;
    font-size: 22px;
    border-radius: 4px;
    padding: 4px;
}
.cartFont {
    color: #54698d;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding:5px;
}

.margin {
    margin: 10px;
}

.dropdown {
    margin: 15px;
}
.changeGroup {
    padding: 5px 5px !important;
    background-color: #eee;
    margin-left: 20px !important;
}
.btn-default {
    color: #333;
    background-color: #eee !important;
    border-color: #ddd;
}
/* .btn-danger {
    color: #d43f3a;
    background-color: #fff;
    border-color: #d43f3a;
}
.btn-primary {
    color: #337ab7;
    background-color: #fff;
    border-color: #2e6da4;
} */
.btn-group>.btn+.dropdown-toggle {
    height:34px
}

.dropdown-menu>li>a {
    color: #0070d2 !important;
}
.autoCompleteWidth {
    width:100%
}
.rbt-input-container {
    height:35px;
    padding:0px;
}
.rbt-input-main {
    width:230px !important;
}
.dropdown-menu {
    width:100%;
}
.cartFontTitle{
    color: #16325c;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    padding-left: 5px;
}

.autoCompleteWidth .rbt-input input {
    background-image:url(p2qes_searchIcon.png); 
    background-repeat: no-repeat; 
    background-position: 2px 3px;
    width:100%;
    height:100%;
    font-size: 18px;
    color: black;
    padding-left: 30px !important;
    background-position-x: 8px;
    background-position-y: 8px;
    background-size: 16px;
}
.rbt-input input {
    width:100%;
    height:100%;
    font-size: 15px;
    color: black;
    padding-left: 10px;

}
mark {
    background-color: white;
    color: #0070d2;
    font-weight: 600;
}
.rbt-input {
    width:250px;
    height:100%;
    border-radius: 4px 0px 0px 4px !important;
}

.rbt-input div:first-child {
    width:100%;
    height:100%;
}
.rbt-input div:nth-child(2) {
    width:100%;
    height:100%;
}

.rbt-input-aux {
    position: absolute;
    margin-top: -28px;
    margin-right: 10px;
    right: 0px;
    z-index: 9999999;
}

.close {
        opacity: 1 !important;
        color:#286090;
}
.modal-content{
    border:none;
}
.modal-dialog {
    width: 100%;
    /*display:inline;    */
}

.modal {
    display:table !important;
    width:95%;
    margin:auto;
}
.modal-body {    
    position: relative;    
    padding: 15px;    
    max-height: 60vh;
    min-height: 10vh;  
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-body input {
        display: inline;
        width: 35%;
        margin-left: 10px;
        height: 30px;
}

.modal-body select {
        display: inline;
        width: 35%;
        margin-left: 10px;
        /*height: 30px;*/
}
.small-modal.modal-content .modal-body select {
        display: inline;
        width: 100%;
        margin-left: 0px;
        height: auto;
}

.tooltip-inner {
    display: block;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 1;
    background-color: #616161;
    opacity: .9;
    color: #fff;
    padding: 8px;
    border-radius: 2px;
    padding: 5px;
    color: #16325C;
    font-size: 12px;
    border-radius: 4px;
    z-index: 999999999;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    border: 1px solid #d8dde6;
    opacity: 1;
}
.tooltip-arrow {
    color:white;
    background-color: white;
}
.modal-title {
    color: #16325C;
}

.modal-table {
    width: 100%;
}
.modal-table tr {
    border-bottom: 1px solid #e5e5e5;
    height: 35px;
}
.modal-table tr td{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.modal-table tr td {
  color: #3C3D3E;
}
.modal-table tr th {
  padding-top: 20px;
    padding-bottom: 20px;
        color: #3C3D3E;
}
.container-modal-table {
    margin-left:30px;
    margin-right:30px;
    padding: 15px;
    }

    /* SideBar filter */
    .Sidebar-demo {
  padding: 15px;
}
.card {
    display: inline-flex;
    width: 100%;
}
.card-icon {
    margin-right:5px;
    padding-top: 15px;
}
.card-detail {
    margin-right:5px;
    padding-top: 22px;
}
.pro-name {
    display: inline-block;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
    cursor:pointer;
}
.toastify {
    word-break: break-all;
    width : auto !important;
    max-width: 300px !important;
    min-width: 120px !important;
}
.pro-icon {
    display: inline-block;
    float: right;
    cursor:pointer;
}
.group-des-edit{
    padding:0px !important;
}
.Sidebar.modal.fade .modal-dialog {
  transition: none;
}
.Sidebar.modal.fade {
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}
.Sidebar.modal.fade:not(.in).left {
  transform: translate3d(-100%, 0, 0);
}
.Sidebar.modal.fade:not(.in).right {
  transform: translate3d(100%, 0, 0);
}
.Sidebar.modal {
    position:absolute;
    margin:0;
  /* overflow: auto; */
    max-width: 25%;
    box-shadow: 5px 0 10px;
    background-color: #f5f5f5;
    height: 100%;
    min-width: 300px;
    display: block !important;
}
.Sidebar.modal.left {
  right: auto;
}
.Sidebar.modal.right {
  left: auto;
}
.Sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}
.Sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.Sidebar.modal .modal-dialog .modal-content .modal-body {
      padding: 20px;

}
.Sidebar.modal .modal-title {
    padding: 2px;

}
.Sidebar.modal input {
   margin-left:0px

}
.Sidebar.modal .clear {
   margin-left:40px;

}
.Sidebar.modal.fade:not(.in).left .modal-dialog {
  transform: translate3d(-100%, 0, 0);
}
.Sidebar.modal.fade:not(.in).right .modal-dialog {
  transform: translate3d(100%, 0, 0);
}

.Sidebar .nav {
  width: 80%;
}
.hover-tip .lab {
    font-weight: bold;
    display: inline-block;
    float: left;
    width: auto;
    margin: 5px;
    padding: 0px !important;
}
.hover-tip .val {
    float: right;
    display: inline-block;  
    margin: 5px;
    width: auto;
}
.hover-tip .tooltip-inner  {
    height: 150px;
}
.rt-td input[type=checkbox] {
    cursor: pointer;
}
.rt-th input[type=checkbox] {
    cursor: pointer;
}
.actionItems a {
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
}
.blank {
    padding-left:12px;
    padding-right:12px;
}
.modal-open {    position: relative;}
.modal-backdrop.in{ position: absolute ;}
.modal-backdrop{ z-index:5}
.table-wrap {    
    /* height: calc(100vh - 106px); */
    display: grid;
    /*max-height: 61vh;    
    overflow-y: auto;
    min-height: 70px;*/
}
.ReactTable {
    border: 0px !important;
}

.rt-thead {
    border: 1px solid #ccc;
}
.ReactTable .rt-noData {
    display: block;
    position: absolute;
    left: 50%;
    top: 75% !important;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.8);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
    pointer-events: none;
    padding: 0px !important;
    color: rgba(0,0,0,0.5);
}
.filter {    
    height: calc(100vh - 106px); 
}
@media (max-width:767px){       
.qoute-container {           height: auto!important;        }}
.Sidebar.right.fade.in.modal {    display: block;}
.small-modal .modal {width:40% !important}
.sub-footer-seg {
    width: 100% ;
    bottom: 0;
    border: 2px solid rgba(0,0,0,0.08);
    border-top: rgba(0,0,0,0.08);
    position: fixed;
    text-align: right;
    background-color: rgba(0,0,0,0.05);
    width: 100%;
    height: 45px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #16325C;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    text-transform: none;
}
.sub-footer {
    width: 100%;
    bottom: 0;
    border: 2px solid rgba(0,0,0,0.08);
    border-top: rgba(0,0,0,0.08);
    position: fixed;
    text-align: right;
    background-color: rgba(0,0,0,0.05);
    width: 100%;
    height: 45px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #16325C;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    padding-top: 10px;
    padding-right: 13px;
    text-transform: none;
}
.qoute-container{    
    padding: 0px;    
    height: 100%;    
    overflow-y: auto;
    
}
@media (max-width:767px){    
    .containers{ 
        border-bottom:1px solid #ddd;     
    }
}

/*styles for bootstrap tab on reconfigure lines page*/
.margin-tabs{
    width: 98%;    
}

.nav-tabs { 
    border-bottom: 2px solid #DDD; 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover { 
    border-width: 0;
}
.nav-tabs > li > a { 
    border: none; color: #666;
}
.nav-tabs > li.active > a{
    border: none; 
    color: #fff !important; 
    background: transparent; 
}
.nav-tabs > li.active > a:hover{
    border: none; 
    color: #fff !important; 
    background: transparent; 
}
.nav-tabs > li > a:hover {
    border: none; 
    color: #aaa !important; 
    background: transparent; 
}
/* .nav-tabs > li > a::after { 
    content: ""; 
    background: #4285F4; 
    height: 2px; 
    position: absolute; 
    width: 100%; 
    left: 0px; 
    bottom: -1px; 
    transition: all 250ms ease 0s; 
    transform: scale(0); 
} */
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
    transform: scale(1); 
}
.tab-nav > li > a::after { 
    background: #21527d none repeat scroll 0% 0%; 
    color: #fff; 
}
.tab-pane { 
    /* padding: 15px 0;  */
}
.tab-content{
    /* padding:20px */
}

#configureProductsList .group {
    position: inherit;
}

#configureGridId .filter {
    height: auto;
}

.disabledIcon { 
  cursor: default;
  color: grey; 
}

.panelMargin {
    margin-top: 10px !important;
    border: solid 1px #d0d0d0;
    border-radius: 4px !important;
}

.categoryLabel {
    color: #54698d;
    font-size: 20px;
    line-height: 2.5;
    font-weight: 600;
    margin-left: 12px;
}

.minMaxMessage {
    color: brown;
    font-size: 14px;
    line-height: 2;   
    margin: 0px 15px 0 10px;
    font-weight: 500;
}


/*** D. 28 Aug 2017 **/

.nav-tabs > li.active > a{
	background:#aaa !important;
}

.group-card .badge {
    position: absolute!important;
    right: 0!important;
    z-index: 999!important;
    margin-right: 8px!important;
    margin-top: 4px!important;
    height: 20px!important;
}
.containers {
    border-right: 1px solid #ddd!important;
    border-left: none!important;
    height: 55px;
}
#searchId {
    height: 35px;
}

#inner-tab-example > ul {
    background: #fff!important;
    border-radius: 0!important;
}
#inner-tab-example > ul li a{
	background:#fff!important;
}
#inner-tab-example > ul li.active > a{
	background:#EDEDED!important;
}
.nav-tabs {
    border-bottom: 1px solid #DDD!important;
	border: 1px solid #ddd!important;
	border-radius: 0px!important;
}
.nav-tabs > li.active{
	border-radius: 0px!important;
}
.nav-tabs > li.active:hover{
	border-radius: 0px!important;
}
.nav-tabs > li:hover{
	border-radius: 0px!important;
}
.nav-tabs>li>a {
	border-radius: 0px!important;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
.nav>li>a {
    padding: 5px 15px !important;
}
.inline-edit {
    font-size: 11px!important;
	padding-top:3px;
}
.ReactTable .rt-th, .ReactTable .rt-td {
    padding: 3px 5px!important;
	vertical-align:middle!important;
}
.ReactTable .rt-th:hover, .ReactTable .rt-td:hover{
    padding: 3px 5px!important;
}
.ReactTable .rt-td {
    height:25px!important;
	padding-bottom:0!important;	
}
.sub-footer-seg {    
    height: auto!important;
    font-size: 14px!important;
    font-weight: 600!important;
}
.inline-select {
    display: inline!important;
	padding:0px!important;
	margin-left:2px!important;
}
.inline-select::after {
	content: "";
}
.table-edit{
	display: inline!important;
	padding:1px!important;
	margin-left: -25px;
	
}
.inline-edit{
    opacity:0!important;
}
.rt-tr:hover .inline-edit{
    opacity:1!important;
	display:inline;
}
.autoCompleteWidth {
    width: 100%;
    height: 34px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;	
}
.autoCompleteWidth .rbt-input input {   
    background-position: 3px 4px;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.sub-footer{
    width: 100%!important;
	height: auto!important;
    font-size: 14px!important;
    font-weight: 600!important;
	padding-top: 4px;
    padding-bottom: 4px;
}
.group-card hr {
    margin-top: 0px !important;
    margin-bottom: 12px !important;
}
.group-card label{
    line-height: 16px;
}
@media (max-width: 767px){
	.group-card .badge {
		margin-right: 15px!important;
	}
	.group .dropdown {
		margin-right: 8px;
	}
	#inner-tab-example > ul li.active > a {
		background: #EDEDED!important;
		margin-bottom: 1px;
	}
	#inner-tab-example > ul li > a {
		padding:8px 8px!important;
		font-size: 12px;
	}
}
.edit-icon {
    display: inline-block!important;
    float: left!important;
    /*margin-top: -20px!important;*/
}
strong {
    font-weight: 700!important;
    font-size: 12px;
}

.group {
	border-radius:0!important;
}
#noanim-tab-example > .nav > li {
	border-radius:0!important;
}
.group-card {
    border-bottom: 0px solid #d0d0d0!important;
    margin-bottom: 0px!important;
}
.rbt-aux button.close {
    margin-top: -22px;
}
.modal-title span{
	vertical-align: middle;
    margin-top: -11px;
}
.modal-table tr th {
    padding: 10px!important;
    color: #3C3D3E!important;
    font-size: 12px!important;
    background: #f5f5f5!important;
}
.modal-title strong{
	font-size:18px!important;
}
.ReactTable .rt-tr-group {
    -webkit-box-flex:initial!important;
    -ms-flex: initial!important;
    flex: initial!important;
}
/* height management */
.qoute-container.segmented .table-wrap.edit-grid-segment .ReactTable {
	min-height: 15vh!important;
	max-height: 75vh!important;
	overflow-y: auto;
}
.table-wrap.edit-grid-segment {
    padding: 0px !important;
    overflow: auto;
}

.qoute-container.segmented .table-wrap.edit-grid-quote .ReactTable {
    min-height: 15vh !important;
	max-height: 84vh !important;
	overflow-y:auto;
}
.qoute-container.segmented .group  .edit-grid-quote .ReactTable {
    min-height: 15vh !important;
	max-height: 75vh !important;
	overflow-y:auto;
}
.group .qoute-container.segmented .table-wrap.edit-grid-quote .ReactTable { 
    min-height: 15vh !important;
	max-height: 62vh !important;
	overflow-y:auto;
}
.group .qoute-container.segmented  .table-wrap.edit-grid-segment .ReactTable { 
    min-height: 15vh !important;
    max-height: 54vh !important;
    padding-bottom: 0px !important;
	overflow-y:auto;
}
.group .qoute-container.segmented  .table-wrap.edit-grid-segment{ 
    padding-bottom: 0px !important;
}
.table-container .group .table-wrap.edit-grid-quote .ReactTable { 
    min-height: 15vh !important;
	max-height: 69vh !important;
	overflow-y:auto;
}
.table-container .table-wrap.edit-grid-quote .ReactTable { 
    min-height: 15vh!important;
    overflow: auto;
    max-height: 91vh !important;
}
.table-wrap.productTopPadding .ReactTable {
    min-height: 23vh !important;
    max-height: 91vh;
    /* display: grid; */
    overflow: auto;
}
.glyphicon {    position: initial;}
/* height management */
.Sidebar.modal .modal-title {
    padding: 2px;
    text-align: left;	
	color: #337ab7;
}
.Sidebar.modal .modal-body h4 {
    font-size: 15px;
    text-align: left;
	margin-top: 0;
    font-weight: 600;
}
.Sidebar.modal .modal-body input[type="text"] {
	float:left;
}
.Sidebar.modal .modal-dialog .modal-content .modal-body {
    padding: 20px;
    text-align: left;
}
.Sidebar.modal .clear {
    margin-left: 40px;
	cursor:pointer;
}

/******* To center Modal *******/
.modal {
	max-height: calc(100% - 100px);
	position: fixed;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}
.Sidebar.modal {
	
    position: absolute!important;
    top: 49%!important;
    transform: translate(-50%, -49%);
    right: -12.5%!important;
    max-height: calc(95vh - 20px)!important;
}

.inline-select {
	width:40px;
}

@media (max-width:767px){
	.table-wrap {
		display: block!important;
		padding-bottom:40px;
	}
	.modal {
		transform: translate(-53%, -50%);
	}
	.modal-body {
        padding: 15px 0;
	}
	.modal-backdrop.in {
		position: fixed;
	}
	.modal-title strong {
		font-size: 15px!important;
	}
	.modal-body .col-md-6{
		margin-bottom:15px;
	}
	.container-modal-table {
		margin-left: 15px;
        margin-right: 15px;
    }
    
	.group-input {
		font-size: 15px;
	}

	.Sidebar.modal {		
		right: 0!important;
		left: 50%!important;
		width: 100%;
	}
	.sub-footer-seg .rt-table .rt-td{
		display:none!important;
	}
	.sub-footer-seg .rt-table .rt-td:nth-last-child(1), .sub-footer-seg .rt-table .rt-td:nth-last-child(2), .sub-footer-seg .rt-table .rt-td:nth-last-child(3), .sub-footer-seg .rt-table .rt-td:nth-last-child(4), .sub-footer-seg .rt-table .rt-td:nth-last-child(5){
		display:block!important;
		width:25%;
	}
}
.panelMargin .group-card{
	border-bottom: 1px solid #d0d0d0!important;
}
.rbt {
	border-top-right-radius:0!important;
	border-bottom-right-radius:0!important;
}
.filter {    
    height: calc(100vh - 200px); 
}
.ReactTable .rt-noData {
    top: 50%!important;
	margin-top: 70px!important;
	color: #615f5f;
    font-weight: 600!important;
	background: transparent!important;
	color:grey;
}


/*** Ungroup ***/
.lang {
    margin-right: 10px;
    margin-right: 10px;
    border: 2px solid #ccc;
    float: right;
    position: relative;
    z-index: 9999;
    top: 18px;
    background: white;
}
.qoute-container .sub-footer{
	position: fixed;
    width: 100%;
    margin-top: -5%;
    bottom: 0;
    background: #ececec;
	padding:10px 2em!important;
}
.qoute-container .sub-footer-seg{
	position: fixed;
    width: 100%;
    margin-top: -5%;
    bottom: 0;
    background: #ececec;
	padding:7px 2em!important;
}
.qoute-container  .sub-footer-seg .ReactTable {
	border:none!important;
	padding:0!important;
	background: #ececec!important;
	border-color:#ececec!important;
}
.qoute-container  .sub-footer-seg .ReactTable  .rt-td{
	border:none!important;
	padding:0!important;
	background: #ececec!important;
	border-color:#ececec!important;
}
.qoute-container  .sub-footer-seg .ReactTable .rt-tr-group{
	border:none!important;
	background: #ececec!important;
	border-color:#ececec!important;
}
.qoute-container  .sub-footer-seg .ReactTable .rt-tr{
	border:none!important;
	background: #ececec!important;
	border-color:#ececec!important;
}
.qoute-container  .sub-footer-seg .ReactTable .rt-tbody{
	border:none!important;
	background: #ececec!important;
	border-color:#ececec!important;
}
.qoute-container .sub-footer-seg .ReactTable .rt-table{
	border:none!important;
	background: #ececec!important;
	border-color:#ececec!important;
}

/**** Group ****/
.qoute-container .group .sub-footer-seg {
    position: fixed;
    width: auto;
    margin-left: auto;
    margin-top: auto;
    bottom: 0;
    background: #ececec;
    padding: 7px 2em!important;
}
.qoute-container .group .sub-footer {
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    bottom: 0;
    background: #ececec;
    padding: 10px 2em!important;
}

@media (min-width:768px){
	.header-container {
		border-bottom: 1px solid #d0d0d0!important;
		width: 100%;
		z-index: 999999;
		background-color: #EDEDED!important;
	}
	
}
@media (max-width:767px){
	.qoute-container .group .sub-footer-seg {		
		padding: 7px 15px!important;
	}
}
.tooltip{
	z-index:999999!important;
}
@media (max-width:1300px){
	.cartFont{
		font-size:15px;
	}
}
@media (min-width:1200px) and (max-width:1400px){
	.qoute-container .sub-footer-seg {
		width: 100%;
	}
	.qoute-container .group .sub-footer-seg{
         width: 100%;
		margin-left:0%!important;
	}
	.qoute-container .sub-footer {
        width: 100%;
	}
}
.hideSpan{
    visibility: hidden !important;
} 

.checkboxWidth{
    width : 45% !important;
} 

#datePicker .input-group {
    border: none;
}


/***** D. 1 Sep 2017 *****/
.custom-edit-button{
	float: right;
    margin-right: 3px;
    margin-top: 3px;
}
.modal-backdrop.in {
    position: absolute!important;
    z-index: 999999999!important;
}
.modal-open .modal {  
    z-index: 9999999999999!important;
}

/* @media (max-width: 1400px) and (min-width: 1300px)
{
	.qoute-container .group #inner-tab-example-pane-custom .table-wrap {
		min-height: 48vh;
		height: 48vh !important;
		overflow-y: auto !important;
	}
} */

.checkboxWidth{
	height:auto!important;
}
.customModal .modal-dialog .modal-body{
	max-height:38vh!important;
	height:38vh!important;
	overflow-y:auto;
}
.input-group-addon:last-child {
    border-left: 0!important;
    padding-left: 20px!important;
}
.language-dropdown{
	padding: 1px 5px;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    z-index: 9999999;
    background: #fff;
    margin: 0 auto;
    left: 23%;
    margin-top: 18px;
    font-size: 13px;
	cursor:pointer;
}
@media (min-width:1401px) and (max-width: 1500px){
	.language-dropdown{
	    left: 25%;
	}
}
@media (min-width:1301px) and (max-width: 1400px){
	.language-dropdown{
	    left: 26%;
	}
}
@media (min-width:1201px) and (max-width: 1300px){
	.language-dropdown{
	    left: 28%;
	}
}
.bg-primary {
    color: #fff!important;
    background-color: #337ab7;
}
.popover-content {
    padding: 0px 14px;
    font-size: 13px;
}
.customPencilIcon {
   margin-left: 8px;
   color :grey; 
}
.customPencilIcon:hover {
    color: #166bbf;
}
#inner-tab-example-tab-custom {
    cursor: pointer; 
}
#configureGridId {
    height: auto !important;
    min-height: auto !important;
}
.ReactTable {
    
    line-height: 1.42857143;
}
.rbt-aux button.close {
    margin-top: -21px;
    position: absolute;
    z-index: 99999;
    right: 0;
    margin-right: 10px;
}
.group-header.group-edit.group-edit-on + .inline-edit{
    display :none!important;
}
.group-header:hover +.inline-edit{
	opacity:1!important;
	display : inline-block!important;
}
.group-description:hover +.inline-edit{
	opacity:1!important;
	display : inline-block!important;
}
.group-input.input-text.input-group + .inline-edit{
    display :none!important;
}
.group-input:hover +.inline-edit{
	opacity:1!important;
	display : inline-block!important;
}
body.modal-open {
    overflow: hidden!important;
}
.customSegModal{    max-height: calc(100% - 100px)!important;    position: fixed!important;    top: 62%!important;    left: 50%!important;    transform: translate(-50%, -50%)!important;}
/*** D. 6 Sep 2017 ***/

.modal-backdrop.in {
    position: fixed!important;
    z-index: 999999999!important;
}
/* @media (max-width: 1400px) and (min-width: 1300px){
	.qoute-container .group #inner-tab-example-pane-custom .table-wrap {    
		overflow-y: auto;
		max-height: calc(60vh - 100px)!important;
		height: calc(60vh - 100px)!important;
	}
	.qoute-container .group #noanim-tab-example-pane-2 .table-wrap {			
		overflow-y: auto;
		min-height: calc(66vh - 100px)!important;
		height: calc(66vh - 100px)!important;
	}
} */
/* @media (max-width: 1500px) and (min-width: 1401px){
	.qoute-container #inner-tab-example-pane-custom .table-wrap {   
		overflow-y: auto;
		min-height: calc(66vh - 100px)!important;
		height: calc(66vh - 100px)!important;
	}
	.qoute-container #noanim-tab-example-pane-2 .table-wrap {		
		overflow-y: auto;
		min-height: calc(70vh - 100px)!important;
		height: calc(70vh - 100px)!important;
	}
} */


.customSegModal, .customModal{
    max-height: calc(100% - 100px)!important;
    position: fixed!important;
    top: 62%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
}

.customModal < .modal-backdrop.in {
    position: absolute!important;
    z-index: 999999999!important;
}
.confirm-delete {
    font-size: 18px;
    color: #54698d;
    text-align: center;
    padding-top: 35px;
}
.confirm-delete-modal {
    top: 0%;
}
.modal-body input{
	margin-left:0!important;
}
.modal-body input[type=checkbox]{
	width:auto!important;
}
.modal-body .input-group {   
    margin-top: 0px!important;
}
.input-group-addon:last-child {
    border-left: 0!important;
    padding-left: 20px!important;
}
.ReactTable .rt-noData {
    margin-top: 25px!important;
}

/*** For filter ***/
@media(min-width:768px){
	.headerFix {
		width:102%;
		z-index:99999999;
	}
}
.filterBox{
	width: 395px;
	background: #F5F5F5;
	height: 92.3vh;
	position: absolute;
	margin-top: -124px;
	right: 0;
	z-index: 99999;
}
.filterHeader{
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}
.filterHeader h4{
	text-align: left;
	color: #337ab7;
	font-family: 'Segoe UI';
	margin-top:0;
	margin-bottom:0;
}
.filterBody{
	padding: 20px;
}
.filterBody h4{
	font-size: 15px;
	text-align: left;
	margin-top: 0;
	font-family: 'Segoe UI';
	font-weight: 600;
}
.filterBody button{
	font-family: 'Segoe UI';
}
.clearLink {
	margin-left: 40px;
	cursor: pointer;
	font-family: 'Segoe UI';
}
.filterClose {
	margin-top: -3px;
}
.bodyOverlay {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: rgba(0,0,0,0.7);
}
@media (min-width:1301px) and (max-width:1400px){
	.filterBox{
		height: 92vh;
	}
}
@media (min-width:1401px) and (max-width:1500px){
	.filterBox{
		height: 93.2vh;
	}
}
@media(max-width:767px){
	.filterBox {
		width: 92%;
		background: #F5F5F5;
		height: auto;
		position: absolute;
		margin-top: 0;
		right: 0;
		z-index: 99999;
		margin: 0 15px;
		top: 30%;
	}
	.headerFix {
		z-index:9;
	}
	#inner-tab-example > ul li > a {
		padding: 8px 8px!important;
		font-size: 11px;
	}
}
.customSegmentsInput {
    width : 90% !important;
    margin-left: 0px !important;
}
.cellColor {
    color: grey;
}
.qoute-container {    
    height: auto!important;
}
.group {    
    height: auto!important;
}
.show-grid.row{   
    margin-right:0!important;
    margin-left:0!important;
}
.qoute-container .sub-footer-seg {    
    padding: 7px 15px!important;
}

.sub-seg .ReactTable .rt-tbody {
   height: 64px !important;
   margin-top: 0px !important;
}

.sub-footer-seg{ height:64px;}
.sub-seg .ReactTable.sub-component{ height: 150px !important;padding-bottom: 0px!important;}

.ReactTable .rt-tr-group {
    display: inline-block !important;
}

.ReactTable .rt-tr {
   width: 100%;
}
.sub-component .rt-tbody .rt-tr-group {
    margin-bottom: -7px;
    overflow: hidden;
}
.ReactTable .rt-tfoot {
    font-size: 14px!important;
    font-weight: 600!important;
    height: 25px;
    bottom:0;
    position: relative;
    background: #ececec;
    color: #16325C;
    box-shadow: none !important;
    display: inline-block;
    /* padding: 3px 0px 30px!important; */
}
.ReactTable .rt-tfoot .rt-td {
    border: 0px !important;
}
.calculateSign {
    margin-left: 10px;
    cursor: pointer;
    color: #ff9800;
    font-size: 22px;
    position: absolute;
    padding-top: 11px;
}
.reconfigureContainer{
  padding: 0 8px 0 8px;
}

#configureProductsList .nav {
    border: 0px!important;
    border-bottom: 2px solid #DDD !important;
}
.reconfigurePanel {
    border: solid 1px #d0d0d0; 
    border-radius: 5px !important;
}
.validationMessage {
    color: brown;
    font-size: 14px;
    float: right;
    font-weight: 500;
    padding: 20px;
}
.configureGroupHeader {
    line-height: 2;
    font-size: 17px;
    margin-left: 12px;
}
.reconfigure-edit-icon {
    display: inline-block!important;
    margin-left: 5px;
}
.addConfigurationLabel {
    margin-left: 21px;
}
#configureProductsList .tab-content {
    overflow-y: auto;
    height: 75vh;
}
.reconfigureDivScroll {
    overflow-y: auto;
    height: 80vh; 
}