.input-text {
    width: 96%;
}
.sub-component .-header {
    display: none !important;
}
.sub-component .rt-tbody .rt-td {
    border-right: 0px !important;
    background: #F2F2F2 !important;
}
.sub-component .rt-tbody .rt-tr-group {
    border-bottom: 0px !important;
}
.upper-case {text-transform: uppercase;}
.disabled-link {
  pointer-events: none;
  cursor: pointer;
  opacity: .7;
}
.edit-icon {
    display: inline;
}
 .rt-tr:hover .inline-edit{
     display : inline;
 }
.table-edit-quantity, .table-edit {
    cursor:pointer;
    display: inline-block;
    width:80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.inline-select {
     z-index: '9999';
     height:22px;
     padding:0px 1px 0px 2px !important;
}
.table-edit-input .inline-edit {
     display:none !important;
}
.table-edit-input +.inline-select {
     display: inline-block;
}
    
.table-edit +.inline-select {
     display: none;
}
.table-edit-input{
    text-align: right;
    height:22px;
    width: 80%;
    padding:50px
}
  
#inner-tab-example > ul{
    background: #EDEDED;
    border-radius: 6px;
}
.nav-tabs {
    border: 2px solid #ddd;
    border-radius: 6px;
}
#inner-tab-example > ul > li{
    border-right: 2px solid white;
    border-radius: 6px;
}
#noanim-tab-example > ul > li:hover {
    background: #EDEDED;
    border-radius: 6px;
}
#noanim-tab-example > .nav > li.active {
    background: #EDEDED;
    border-radius: 6px;
}
#noanim-tab-example > .nav  > li {
    background:white;
    width:50%;
    border-radius: 6px;
}
.link {
  cursor: pointer;
}
.inline-edit{ 
   display: none;
   color: #54698d;
 }
.show-grid {
    background-color: rgba(0,0,0,0.05);
    border-bottom: 2px solid #d0d0d0;
    padding-bottom: 10px;
}
.group-side {
    width: 16px;
    position: absolute;
    height: 100%;
    cursor: pointer;
    background-color: #8199AF;
    color: #FFF;
    padding: 0 22px 0 2px;
    font-size: 20px;
}
.group-side .center {
position: relative;
    top: 35%;
}
.group-side .panel-text {
    transform: rotate(90deg);
    text-align: center;
    width: 20px;
}
.group-edit,.group-description,.group-input {
    cursor: pointer;
}
 .group-edit:hover +.inline-edit{
     display : inline !important;
     
 }
.group-input:hover +.inline-edit{
     display : inline !important;    
 }
.group-description:hover +.inline-edit{
     display : inline !important;
 }
.group-edit-on{
    background-color: white;
    margin: 10px 15px 15px;
    color: #54698d;
    font-size: 20px;
    padding-left:5px;
    width: 200px
 }
.group-desc-edit-on{
    background-color: white;
    margin-left: 15px;
    color: #54698d;
    font-size: 16px;
    padding-left:5px;
 }
.group {
    margin: 0!important;    
    border-width: 1px;    
    border-style: solid;    
    border-color: #d0d0d0;    
    border-radius: 4px;    
    height: 100%;    
    width: 100%!important;    
    background-color: white;    
    display: block;    
    position: relative!important;    
    overflow-x: hidden!important;
}

.group .dropdown {
    margin: 10px 0 0 0;
    float: right;
}
.group-card {
    background-color: rgba(0,0,0,0.05);
    border-bottom: 2px solid #d0d0d0;
    margin-bottom: 10px;
}
.group-input {
    margin-right: 20px;
    color: #54698d;
    font-size: 17px;
    /* padding: 5px; */
    line-height: 2.0;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.input-group{
        background: white;
    /* border: azure; */
    margin-top: 7px;
    height: 28px;
    border-radius: 2px;
    border: 1px solid #CCCCCC;
    text-align: right;
    padding-right:8px;
}

.vertically {
    border-left: 2px solid #ccc;
    display: inline-block;
    height: 100px;
    margin: 10px;
    position: absolute;
    font-size: 4px;
}
.group-header{
    margin: 10px 15px 15px;
    color: #54698d;
    font-size: 20px;
    padding:5px;
    line-height: 2.5;
}
.group-label{
    margin: 10px 15px 15px;
    color: #54698d;
    font-size: 16px;
    padding:5px;
    line-height: 2.5;
}
.group-description {
    margin: 10px 15px 15px;
    color: #54698d;
    font-size: 16px;
    padding:5px;
}
.cartIcon {
    background: #904d4c;
    color: white;
    padding: 20px;
    font-size: 22px;
    border-radius: 4px;
    padding: 4px;
}
.cartFont {
    color: #54698d;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding:5px;
}

.margin {
    margin: 10px;
}

.dropdown {
    margin: 15px;
}
.btn-default {
    color: #0070d2 !important;
}

.btn-group>.btn+.dropdown-toggle {
    height:34px
}

.dropdown-menu>li>a {
    color: #0070d2 !important;
}
.autoCompleteWidth {
    width:100%
}
.rbt-input-container {
    height:35px;
    padding:0px;
}

.dropdown-menu {
    width:100%;
}
.cartFontTitle{


    color: #16325c;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    padding-left: 5px;
}

.autoCompleteWidth .rbt-input input {
background-image:url(p2qes_searchIcon.png); 
background-repeat: no-repeat; 
background-position: 2px 3px;
width:100%;
height:100%;
font-size: 18px;
color: black;
padding-left: 30px !important;
background-position-x: 8px;
background-position-y: 8px;
background-size: 16px;

}
.rbt-input input {



width:100%;
height:100%;
font-size: 15px;
color: black;
padding-left: 10px;

}
.rbt-input {
width:100%;
height:100%;
}

.rbt-input div:first-child {
width:100%;
height:100%;
}
.rbt-input div:nth-child(2) {
width:100%;
height:100%;
}

.rbt-input-aux {
    position: absolute;
    margin-top: -28px;
    margin-right: 10px;
    right: 0px;
    z-index: 9999999;
}

.close {
        opacity: 1 !important;
        color:#286090;
}
.modal-content{
    border:none;
}
.modal-dialog {
    width: 100%;
    display:inline;
    
}

.modal {
    display:table !important;
    width:95%;
    margin:auto;
}
.modal-body {    
    position: relative;    
    padding: 15px;    
    max-height: 60vh;
    min-height: 10vh;  
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-body input {
        display: inline;
        width: 35%;
        margin-left: 10px;
    
        height: 30px;
}

.modal-body select {
        display: inline;
        width: 35%;
        margin-left: 10px;
        height: 30px;
}
.small-modal.modal-content .modal-body select {
        display: inline;
        width: 100%;
        margin-left: 0px;
        height: auto;
}

.tooltip-inner {
    display: block;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    line-height: 1;
    background-color: #616161;
    opacity: .9;
    color: #fff;
    padding: 8px;
    border-radius: 2px;
    padding: 5px;
    color: #16325C;
    font-size: 12px;
    border-radius: 4px;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
    border: 1px solid #d8dde6;
    opacity: 1;
}
.tooltip-arrow {
    color:white;
    background-color: white;
}
.modal-title {
    color: #16325C;
}

.modal-table {
    width: 100%;
}
.modal-table tr {
    border-bottom: 1px solid #e5e5e5;
    
}
.modal-table tr td:first-child {
  padding-top: 15px;
  width: 10%;
padding-bottom: 15px;
}
.modal-table tr td {
  color: #3C3D3E;
}
.modal-table tr th {
  padding-top: 20px;
    padding-bottom: 20px;
        color: #3C3D3E;
}
.container-modal-table {
    margin-left:30px;
    margin-right:30px;
    }

    /* SideBar filter */
    .Sidebar-demo {
  padding: 15px;
}
.card {
    display: inline-flex;
    width: 100%;
}
.card-icon {
    margin-right:5px;
    padding-top: 5px;
}
.Sidebar.modal.fade .modal-dialog {
  transition: none;
}
.Sidebar.modal.fade {
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}
.Sidebar.modal.fade:not(.in).left {
  transform: translate3d(-100%, 0, 0);
}
.Sidebar.modal.fade:not(.in).right {
  transform: translate3d(100%, 0, 0);
}
.Sidebar.modal {
    position:absolute;
    margin:0;
  /* overflow: auto; */
    max-width: 25%;
    box-shadow: 5px 0 10px;
    background-color: #f5f5f5;
    height: 100%;
    min-width: 300px;
    display: block !important;
}
.Sidebar.modal.left {
  right: auto;
}
.Sidebar.modal.right {
  left: auto;
}
.Sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}
.Sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.Sidebar.modal .modal-dialog .modal-content .modal-body {
      padding: 20px;

}
.Sidebar.modal .modal-title {
    padding: 2px;

}
.Sidebar.modal input {
   margin-left:0px

}
.Sidebar.modal .clear {
   margin-left:40px;

}
.Sidebar.modal.fade:not(.in).left .modal-dialog {
  transform: translate3d(-100%, 0, 0);
}
.Sidebar.modal.fade:not(.in).right .modal-dialog {
  transform: translate3d(100%, 0, 0);
}

.Sidebar .nav {
  width: 80%;
}
.hover-tip .lab {
    font-weight: bold;
    float: left;
    margin: 5px;
}
.hover-tip .val {
    float: right;
     margin: 5px;
}
.hover-tip .tooltip-inner  {
    height: 150px;
}
.rt-td input[type=checkbox] {
    cursor: pointer;
}
.rt-th input[type=checkbox] {
    cursor: pointer;
}
.actionItems a {
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
}
.blank {
    padding-left:12px;
    padding-right:12px;
}
.modal-open {    position: relative;}
.modal-backdrop.in{ position: absolute ;}
.modal-backdrop{ z-index:5}
.table-wrap {    
    /* height: calc(100vh - 106px); */
    display: grid;
    max-height: 61vh;    
    overflow-y: auto;
    min-height: 70px;
}
.ReactTable .rt-noData {
    display: block;
    position: absolute;
    left: 50%;
    top: 75% !important;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.8);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
    pointer-events: none;
    padding: 0px !important;
    color: rgba(0,0,0,0.5);
}
.filter {    
    height: calc(100vh - 106px); 
}
@media (max-width:767px){       
.qoute-container {           height: auto!important;        }}
.Sidebar.right.fade.in.modal {    display: block;}
.small-modal .modal {width:40% !important}
.sub-footer-seg {
    bottom: 0;
    border: 2px solid rgba(0,0,0,0.08);
    border-top: rgba(0,0,0,0.08);
    position: relative;
    text-align: right;
    background-color: rgba(0,0,0,0.05);
    width: 100%;
    height: 45px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #16325C;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    text-transform: none;
}
.sub-footer {
    bottom: 0;
    border: 2px solid rgba(0,0,0,0.08);
    border-top: rgba(0,0,0,0.08);
    position: relative;
    text-align: right;
    background-color: rgba(0,0,0,0.05);
    width: 100%;
    height: 45px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #16325C;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    padding-top: 10px;
    padding-right: 13px;
    text-transform: none;
}
.qoute-container{    
    padding: 15px;    
    height: 100%;    
    overflow-y: auto;
}
@media (max-width:767px){    
    .containers{ 
        border-bottom:1px solid #ddd;     
    }
}
.containers {
    border-left: 1px solid #ddd;     
}
/*styles for bootstrap tab on reconfigure lines page*/
.margin-tabs{
    width: 98%;
    margin-left: 1%;
}

.nav-tabs { 
    border-bottom: 2px solid #DDD; 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover { 
    border-width: 0;
}
.nav-tabs > li > a { 
    border: none; color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none; 
    color: #166bbf !important; 
    background: transparent; 
}
.nav-tabs > li > a::after { 
    content: ""; 
    background: #4285F4; 
    height: 2px; 
    position: absolute; 
    width: 100%; 
    left: 0px; 
    bottom: -1px; 
    transition: all 250ms ease 0s; 
    transform: scale(0); 
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
    transform: scale(1); 
}
.tab-nav > li > a::after { 
    background: #21527d none repeat scroll 0% 0%; 
    color: #fff; 
}
.tab-pane { 
    /* padding: 15px 0;  */
}
.tab-content{
    /* padding:20px */
}

#configureProductsList .group {
    position: inherit;
}

#configureGridId .filter {
    height: auto;
}

.disabledIcon { 
  cursor: default;
  color: grey; 
}

.panelMargin {
    margin-top: 10px !important;
}

.categoryLabel {
    color: #54698d;
    font-size: 20px;
    line-height: 2.5;
}

.minMaxMessage {
    color: #54698d; 
    font-size: 14px;
    margin: -10px 0px 10px 20px;
}

